
@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewayight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight-webfont.eot');
    src: url('../fonts/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-extralight-webfont.woff') format('woff'),
         url('../fonts/raleway-extralight-webfont.ttf') format('truetype'),
         url('../fonts/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayheavy';
    src: url('../fonts/raleway-heavy-webfont.eot');
    src: url('../fonts/raleway-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-heavy-webfont.woff') format('woff'),
         url('../fonts/raleway-heavy-webfont.ttf') format('truetype'),
         url('../fonts/raleway-heavy-webfont.svg#ralewayheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.eot');
    src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff'),
         url('../fonts/raleway-semibold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin-webfont.eot');
    src: url('../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-thin-webfont.woff') format('woff'),
         url('../fonts/raleway-thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
/* automatically include padding and border in the width - does not include margins */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
	background-color: #9ea97d;
	background-color: white;
}
body {
	font-family: "ralewayregular",Calibri, Verdana, sans-serif;
	font-size: 1em;
	color: #313131;
}
.container {
	margin: 0 auto 3% auto;
	width: 98%;
	max-width: 800px;
}
.hidden {
	display: none;
}
header {
	width:98%;
	position: relative;

}
header h1 {
 font-family: "ralewaylight";
 color: #777;
 color: #54407d;
 font-size: 2.3em;
 text-align: center;
 letter-spacing: 0.35em;
  text-shadow: 2px 5px 6px rgba(0,0,0,0.2),            
     0px -5px 35px rgba(255,255,255,0.3); 
  margin: 20px auto 0px auto ;
  padding-left: 70px;
}
/*
header img {
absolute;
  top: 0;
  left: 0;
}
*/
.circle {
  padding-top:0px;
  font-size: 2.0em;
  font-weight: bold;
  width:55px; 
  height:55px; 
  position:relative; 
  float:left; 
  background: #a3b0e6;
  border-radius:50%; 
  margin: -15px 5px 0px 5px; 
  text-align: center;
}
.circle:hover {
  border: 1px solid black;
}
 .circleSm {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top:0px;
  width:65px; 
  height:65px; 
  border-radius:50%; 
  border: 3px solid black;
 }
.circleMed {
  position: absolute;
  top: -10px;
  left: 0;
  display: none;
  padding-top:0px;
  width:150px; 
  height:150px; 
  border-radius:50%; 
  border: 3px solid black;
 }
.list {
  margin: 0 auto 0 auto;
  max-width: 600px;
  height:40px;
}
.lala {
}
.lala .flickrs > h2, .lala .youtubes > h2, .lala .google-pluses > h2 {
	font-family: "ralewayheavy", Calibri, Verdana, sans-serif;
	color: #999;
	font-size: 2.0em;
	margin-bottom: 10px;
	text-align: center;
}
.youtubes {
  width: 100%;
  margin: 0 auto;
}
.youtubes .name {
	font-family: ralewaysemibold;
	font-size: 0.85em;
	color: #777;
}
.youtube img, .flickr img {
	max-height: 115px;
	box-shadow:  4px 4px 7px 0px rgba(50, 50, 50, 0.5);	
}
.result.youtube a:active {
	box-shadow: inset 4px 4px 7px 0px rgba(50, 50, 50, 0.5);
}
.flickrs {
  margin: 0 auto;
}
.flicker, .flickr figure {
	text-align: center;
}
.flickr figure {
	margin-left: 16px;
}
.flickr.portrait figure {
	margin-left: 55px;
}
.flickr figure figcaption {
	overflow: hidden;
}
.flickr figure:hover figcaption {
	display:block;
}
.fade {
   opacity: 0.7;
   transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
   }
.fade:hover {
  opacity: 1.0;
  }
figure {
    float: left;
    clear: both;
    position: relative;
    overflow: auto;
    margin: 0 auto;
    z-index:1000;
}
figure a {
	z-index: 300;
}
figure figcaption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0,0.6);
    text-align: center;
    color: #fff; 
    padding: 5px;
    font-size: 13px;
}
.intro {
	margin-bottom: 1em;
}
.result.youtube {
	display: inline-block;
	background: white;
	border: 1px solid #bebebe;
	padding: 10px 10px 10px 10px;
	margin: 0px 15px 15px 0px;
	width: 227px;
	min-height:120px;
	position: relative;
}
.result.youtube:hover {
	background:#313131;
	font-style: bold;
	font-family: 'ralewaysemibold';
}
.google-pluses {
	width: 100%;
	margin: 0 auto;
}
.google-plus {
	 width: 350px;
	 background-color: white;
	 color: #999;
	 font-family: Calibri, Arial, Verdana, sans-serif;
	 font-weight: normal;
	 font-size: 0.9em;
	 padding: 10px;
	 margin: 0px 0 10px 0;
	 border: 1px solid #ccc;
}
.google-pluses .col-one {
	float: left;
	margin-right:25px;
}
.google-pluses .col-two {
	float: left;
}
.google-plus h2 {
	color: #313131;
	font-family: ralewaysemibold, Calibri, sans-serif;
	font-size: 1.1em;
	text-align: top;
	margin-bottom: 10px;
}
.google-plus .p-name {
	color: #313131;
	font-family: ralewaysemibold, Calibri, sans-serif;
	font-size: 1.3em;
	text-align: top;
	margin-bottom: 10px;
	max-width: 350px;
}
.google-plus .p-content {
	color:#313131;
	font-size: 1.3em;
}
.google-plus a {
	color: #999;
}
.google-plus img {
	max-width: 330px;
 	max-height: 330px;
}
.google-plus a:hover, .google-plus a:active {
	color: #313131;
	text-decoration: underline;
}
hr.faded {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin: 1.4em 0;
  margin: 5px 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.1, rgb(221,221,221)),
      color-stop(0.9, rgb(221,221,221)),
      color-stop(1, rgb(255,255,255))
  );
}
ul.polaroids {
	width: 100%;
}
ul.polaroids a { 
	background: #fff; 
	display: inline; 
	float: left; 
	margin: 0 25px 27px 0;
	width: auto; 
	padding: 10px 10px 15px; 
	text-align: center; 
	font-family: "Marker Felt", 
	sans-serif; text-decoration: none; 
	color: #333; font-size: 18px; 
	box-shadow: 0 3px 6px rgba(0,0,0,.25);
	/* By default, tilt images -2 degrees */
	-webkit-transform: rotate(-2deg); 
	-webkit-transition: -webkit-transform .15s linear;
	 -moz-transform: rotate(-2deg); 
  -moz-transition: -moz-transform .15s linear;
   transform: rotate(-2deg);
}
ul.polaroids li {
	width: 227px;
	max-width: 227px;
	display: inline;
  padding-left: 0;
  word-wrap: break-word;
  margin-bottom:40px;
}
@media screen and (max-width: 768px) {
  ul.polaroids li a {
    margin-left: 0;
  } 
}
ul.polaroids img { display: block; width: 190px; margin-bottom: 12px; }
/*ul.polaroids a:after { 
  content: attr(title);
	max-width: 227px;
	word-wrap: break-word;
}*/
ul.polaroids .caption {
	/*overflow: hidden;*/
	display: block;
	max-width: 207px;
	/*height:45px;*/
	word-wrap: break-word;
}		
ul.polaroids li.messy a {
  margin-top: -400px;
  position: relative;
  left: 160px;
}
ul.polaroids li:first-line a {
 	margin-left: 0;
}
/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}
/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  /*  position: relative;
  right: 5px;*/
}
/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}
/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px;
}
/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
.lala .flickrs ul.polaroids a:hover {
  -webkit-transform: scale(1.25); 
   -moz-transform: scale(1.25);
  transform: scale(1.25);
  box-shadow: 0 3px 6px rgba(0,0,0,.5);
  position: relative; 
}
.error {
	background-color: #F78181;
	padding: 1em;
}
form {
  border: 0px solid #d0d2d5;
  border-bottom: 0px solid #bebfc2;
  border-radius: 4px;
  margin: 0 auto 0 auto;
  padding: 0px;
  width: 800px;
  padding-left:45px;
}
label {
  color: #404853;
  display: block;
  font-weight: bold;
}
input {
  background: #fff;
  border: 0px solid #c6c9cc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 #fff;
  color: #555;
  font: 13px/20px 'Droid Sans', Arial, 'Helvetica Neue', 'Lucida Grande', sans-serif;
  margin: 0 0 0 0;
  padding: 5px;
  width: 200px;
}
/*input:not([type=checkbox]) {}*/
fieldset {
  border: none;
  margin: 5px 0 0px 0px;
  width: 100%;
}
.listit-getter input {
  margin: 0;
  width: auto;
}
.listit-getter input[type="text"]  {
  margin-left: 10px;
  margin-top: -3px;
  border: 1px solid #c6c9cc;
}
.listit-getter input[type="submit"] {
  background: linear-gradient(top, #687587, #404853);
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  margin-top: -3px;
  margin-right: 5px;
background: -webkit-linear-gradient(99deg, rgba(68,67,110,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
background: -moz-linear-gradient(99deg, rgba(68,67,110,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
background: linear-gradient(351deg, rgba(68,67,110,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#44436E',GradientType=0 );
}
.listit-getter input[type="submit"]:hover {
/*color: #edb330;*/
  background: -webkit-linear-gradient(99deg, rgba(135,132,217,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
  background: linear-gradient(351deg, rgba(135,132,217,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#8784D9',GradientType=0 ); 
}
.listit-getter input[type="submit"]:active {
  /*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.75), 0 1px 0 rgba(255, 255, 255, 0.75);*/
   box-shadow: inset 5px 5px 5px 0 #313131;
}
fieldset.searchflds {
  width: 330px;
  float: left;
}
fieldset.options {
  width: 270px;
  float: left;
}
/*
.options:after {
    content:'';
    display:block;
    clear: both;
}
*/
.listit-getter label {
  color: #888;
  cursor: pointer;
  float: left;
  font-size: 12px;
  font-weight: normal;
  margin: 5px 0 0 20px;
}
.listit-getter label:first-child {
  margin-left:0;
}
.listit-getter label input {
  margin: -2px 2px 0 0;
  padding: 0;
}
.clearfix {
	clear: both;
}
/* RESPONSIVE */
/*
@media (min-width: 320px) and (max-width: 400px) {
  html { background: green; }
}
*/
@media (max-width: 800px) {
  .flickrs, .youtubes {
    width: 520px;
  }
}
@media (max-width: 750px) {
  .google-pluses .col-one, .google-pluses .col-two {
    float: none;
    width: 350px;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
   fieldset.searchflds, fieldset.options{
    float: none;
  }
  fieldset.options {
    margin-top: -10px;
    margin-left: 10px;
  }
  .listit-getter {
    width: 350px;
  }
}
@media (max-width: 525px) {
  .flickrs, .youtubes {
    width: 250px;
  }
}
@media (max-width: 320px) {
  #logo {
   display: none;
  }
  .container {
    width: 100%;
  }
  .google-plus {
    width: 280px;
  }
  form { 
    padding-left: 0;
  }
  header h1 {
    padding-left: 20px;
  }
}

